//
//  PAID.xcconfig
//  bonup-mobile
//
//  Created by yenz0redd on 08.03.2020.
//  Copyright © 2020 Bonup. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-bonup-mobile/Pods-bonup-mobile.debug paid.xcconfig"

APP_NAME = Bonup-Debug [PAID]
APP_BUNDLE_ID = com.bonup.debug.paid
